<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <%= link_to "Home", root_path %>
      <h1>The Polyphonic Touch:  coarticulation and polyphonic expression in the performance of piano and organ music</h1>
      <h3>By Andrew Wright, Leiden University, 2016</h3>
      <hr>
      <h4>Fulltext</h4>
      <p>
        Access the fulltext for free from Leiden University's <a href="https://openaccess.leidenuniv.nl/handle/1887/41220">online repository</a> containing all documents related to my dissertation.
      </p>
      <p>
        Or, just <a href="https://openaccess.leidenuniv.nl/bitstream/handle/1887/41220/The%20Polyphonic%20Touch%20-%20Andrew%20Wright%20-%20PhD%20Dissertation_Final.pdf?sequence=2">click here</a> to go straight to the pdf.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <h3>Links</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <p>
        <%= link_to "Short abstract", polyphonic_touch_short_abstract_pages_path %> &nbsp | &nbsp
        <%= link_to "Long abstract", polyphonic_touch_long_abstract_pages_path %>
      </p>
      <p>
        <%= link_to "Home", root_path %>
      </p>
    </div>
  </div>
</div>
