<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <%= link_to "Home", root_path %>
      <h1>The Polyphonic Touch:  coarticulation and polyphonic expression in the performance of piano and organ music</h1>
      <h3>By Andrew Wright, Leiden University, 2016</h3>
      <hr>
      <h4>Short Abstract</h4>
      <p>
        Performances of solo keyboard repertoire can sound more or less polyphonic depending on the performer’s use of divergence in expression. Rather than being a purely cerebral experience, this expressive divergence is situated in an ecological relationship between keyboard and player where the gestural dynamics of technique and musicianship overlap. Specific body schemata relating to expressive divergence are therefore foundational to the interpretive freedom of the performer in creating polyphonic expression, and feature transparently in the musical result. This dissertation theorises expressive divergence by examining the embodiment of single voices through the hierarchical structuring of coarticulation, and by showing how these multi-layered gestures combine in the polyphony of expression. This performative view of polyphony is contextualised not only in musical practice, but also in the wider interdisciplinary use of polyphony as a metaphor. Single-player polyphonic expression is shown to enact or demonstrate an inner experience of the plurality of subjective agency, an experience made possible by its embodied dimension. Besides verbalising and theorising polyphonic expression, this dissertation provides experiments and exercises useful for developing such a practice, as well as examples of its application in concert
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <h3>Links</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <p>
        <%= link_to "Long abstract", polyphonic_touch_long_abstract_pages_path %> &nbsp | &nbsp
        <%= link_to "Fulltext", polyphonic_touch_fulltext_pages_path %>
      </p>
      <p>
        <%= link_to "Home", root_path %>
      </p>
    </div>
  </div>
</div>
