<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <%= link_to "Home", root_path %>
      <h1>The Polyphonic Touch:  coarticulation and polyphonic expression in the performance of piano and organ music</h1>
      <h3>By Andrew Wright, Leiden University, 2016</h3>
      <hr>
      <h4>Long Abstract</h4>
      <p>
        Performances of solo keyboard repertoire can sound more or less polyphonic
        depending on the performer’s use of divergence in expression. Rather than being a purely
        cerebral experience, this expressive divergence is situated in an ecological relationship
        between keyboard and player where the gestural dynamics of technique and musicianship
        overlap. Specific body schemata relating to expressive divergence are therefore
        foundational to the interpretive freedom of the performer in creating polyphonic
        expression, and feature transparently in the musical result. This dissertation theorises
        expressive divergence by examining the embodiment of single voices through the
        hierarchical structuring of coarticulation, and by showing how these multi-layered
        gestures combine in the polyphony of expression.
      </p>
      <p>
        First, polyphony is defined as a term and situated in the centre of a web of meaning
        formed by its interdisciplinary use as a metaphor, a use that describes responsiveness
        between subjective agents. The concept of polyphony is then applied to expression in
        performance. An important feature of single-player polyphony is shown to be embodiment,
        where each hand (or finger) has its own subjective agency. Reflection about this
        experience foregrounds the inner relations between thought, body movement, and sound,
        which leads to a discussion of musical gesture. Such gesture is shown to have a
        hierarchical structure created by coarticulation (the corporeal subsumption of smaller
        units of gesture into overarching continuities). Coarticulation depends not only on the
        musculoskeletal structure of the body, but also on acquired skills and habits (body
        schemata). It underlies a kind of thinking-through-movement, which embodies and creates
        musical structure in performance, and forms an essential part of instrument-specific legato
        playing.
      </p>
      <p>
        Because coarticulation allows for participation of the whole body in shaping
        individual voices, it follows that the simultaneous divergence of shape in polyphonic
        playing involves a certain embodied interaction between voices. The term polyphonic
        voicing is introduced to describe a quality of performance (rather than a quality of the
        work being performed) and is contrasted to monophonic and homophonic voicing. In
        order to investigate polyphonic voicing, this dissertation presents a series of experiments
        using layered recordings, which in turn provide a springboard for reflection about
        objectification, agency, spatiality and musical tension.
        Examples are given of exercises for developing polyphonic expression and its
        underlying body schemata. These are accompanied with a discussion of the reasons behind
        each exercise, giving models for readers to use in developing their own exercises. Finally, a
        recital program is presented, demonstrating how the use of polyphonic expression can
        function within a normal concert practice across various style periods and in repertoire
        ranging from simple to complex. In the conclusions, the ideas of the dissertation are once
        again contextualised in the broad interdisciplinary horizon of polyphony as a metaphor.
        Single-player polyphonic expression is shown to enact or demonstrate an inner experience
        of the plurality of subjective agency, an experience made possible by its embodied
        dimension.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <h3>Links</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 col-centered text-center">
      <p>
        <%= link_to "Short abstract", polyphonic_touch_short_abstract_pages_path %> &nbsp | &nbsp
        <%= link_to "Fulltext", polyphonic_touch_fulltext_pages_path %>
      </p>
      <p>
        <%= link_to "Home", root_path %>
      </p>
    </div>
  </div>
</div>
